@charset "UTF-8";

#wrapper {
	width: 100%;
	margin: 0 auto;
	font-family: montserrat;
}
.pc {
	display: block;
}
.sp {
	display: none;
}
/* header */
header:after , #content:after , #project-content:after , footer:after , section:after , ul:after{
	content: "";
	display: block;
	clear: both;
}
header {
	position: relative;
	top: 0;
	background: url('../images/banner.jpg') no-repeat center top;
	background-size: cover;
	padding: 20px 0;
	z-index: 2;
}
.header-in {
	width: 85%;
	max-width: 960px;
	margin: 0 auto;
}
.logo {
	float: left;
	width: 35%;
	max-width: 320px;
	padding: 25px 0 20px 0;	
}
.logo a {
	color: #fff;
	font-size: 30px;
	font-weight: bold;
}
.gNav {
	float: right;
	width: 65%;
	max-width: 640px;
	
}
.gNav ul {
	width: 75%;
	float: left;
	padding: 25px 0 20px 0;	
}
.gNav ul li {
	display: inline-block;
	width: 25%;
	padding: 8px 0;
	text-align: center;
}
.gNav ul li a {
	font-family: 'Roboto', sans-serif;
	color: #fff;
}
.h-utility {
	float: left;
	width: 25%;
	padding: 15px 0 0 0;	

}
.contact-btn{
	color: #fff;
	background-color: #485ff8;
	border-radius: 50px;
	display: block;
	padding: 20px 10px;
    text-align: center;

}



/* footer */
footer {
	background-color: #bbb;
	padding: 30px 0;
}
.ftr-in {
	width: 85%;
	max-width: 960px;
	margin: 0 auto;
}
.ftr-txt {
	width: 30%;
	float: left;
}
.ftr-nav {
	width: 50%;
	float: right;
	margin: 0 0 0 20px;
}
.ftr-nav ul {
	float: left;
	width: 30%;
}
.ftr-nav ul:last-child {
	width: 40%;
}
.ftr-nav ul li {
	margin: 0 0 5px 0;
}
.ftr-nav ul li a {
	color: #222;
}
.ftr-nav ul li:first-child {
	font-weight: bold;
	margin: 0 0 10px 0;
}


/* top */
.main-visual {
	width: 100%;
	padding: 200px 0 400px 0;
	text-align: center;
}
.visual-txt {
	color: #e9262b;
    font-size: 24px;
    letter-spacing: 2px;	
}
.main-logo {
	color: #fff;
	font-size: 100px;
	font-weight: bold;
	letter-spacing: 2px;
	line-height: 1.5em;
}
.explanation {
	color: #fff;
	font-size: 34px;
	letter-spacing: 2px;
}
.play {
	margin: 50px 0 0 0;
	text-align: center;
}
.play-btn{
	display: inline-block;
	color: #fff;
	border: 1px solid #475ff7;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	line-height: 50px;	
}
.play-txt {
	color: #fff;
	font-size: 12px;
	margin: 20px 0 0 0 ;
}
.com-box {
	position: relative;
	color: #fff;
	margin: 0 0 -10px 0;
}
.com-box h3 {
	position: absolute;
	top:10%;
	left: 50%;
	transform: translate(-50% , -10%);
	color: #fff;
}
.com-box img {
	width: 100%;
}
.img-txt:after{
	content: "";
	display: block;
	clear: both;
}
.img-blk {
	width: 47%;
}
.txt-group {
	width: 47%;
	height: 500px;
	display: table;
}
.txt-in {
	display: table-cell;
	vertical-align: middle;
}
.txt-group p {
	width: 75%;
}
.txt-group .cmn-tit {
	text-align: left;
}
.tit {
	font-size: 2.5rem;
	font-weight: bold;
	margin: 30px 0;
}
.list {
	color: #222;
	line-height: 1.5em;
	font-size: 18px;
}

/*.quote {
	background-color: #4a4b4d;
	padding: 50px 0;
}
.quote p {
	width: 40%;
	margin: 0 30%;
	color: #c1c1c1;
}
.quality {
	background-color: #bbb;
}
.quality-list {
	width: 57%;
	background-color: #fff;
	padding: 100px 0 100px 200px;
}
.quality-list li {
	margin: 0 0 50px 0;
}
.sec04 {
	color: #c1c1c1 !important;
	background-color: #bbb;
}
.purchase {
	float: right;
	width: 55%;
	background-color: #485ff8;
	padding: 100px 0 100px 30px;
}*/
.technical-detail {
	padding: 100px 0;
}
.cmn-tit {
	font-size: 30px;
	line-height: 1.3em;
	font-weight: bold;
	margin: 0 0 50px 0;
}
.cmn-tit span {
	font-size: 20px;
	font-weight: normal;	
}
.tbl {
	width: 70%;
	margin: 0 15%;
}
.tbl tr td {
	border-bottom: 2px solid #fff;
	padding: 20px 50px 20px 10px;
	font-size: 12px;
}
.tbl tr td:nth-child(1){
	background-color: #485ff8;
	color: #fff;
}
.tbl tr td:nth-child(2){
	background-color: #f4f4f4;
}
/*
.price-tbl {
	width: 60%;
	margin: 0 20% 100px 20%;
	text-align: center;
}
.price-tbl tr td {
	border-right: 1px solid #ddd;
	padding: 20px 0;
	table-layout: auto;
    width: 180px;
}
.price-tbl tr:nth-child(odd) {
	background-color: #f4f4f4;
}
.sec06 .purchase-btn{
	display: inline-block;
	padding: 10px 12px;
	font-size: 12px;
	margin: 0 10px;
	box-shadow: 2px 4px 10px #ccc;
}*/
.qa {
	padding: 0 0 100px 0;
}
.qa-box {
	width: 85%;
	max-width: 960px;
	margin: 0 auto;
}
.qa-box:after{
	content: "";
	display: block;
	clear: both;
}
.qa-block {
	width: 47%;
	float: left;
}
.question {
	font-size: 24px;
	font-weight: bold;
	margin: 0 0 20px 0;
}
.qa .question {
	font-size: 16px;
}
.question span {
	color: #485ff8;	
	padding: 0 10px 0 0;
}
.answer {
	font-size: 14px;
	margin: 0 0 20px 0;
}
.txt-group .answer{
	padding: 0 0 0 40px;

}
.more {
	color: #485ff8;	
	text-decoration: underline;
	cursor: pointer;
}
.toggle {
	display: none;
}
.qa-img {
	width: 51%;
	float: right;
}
.movie {
	background-color: #141418;
	padding: 50px 0;
	margin: 0 0 100px 0;
}
.mov-in {
	width: 80%;
	margin: 0 10%;
	padding: 100px 0 50px 0;
	background: url('../images/img05.png') no-repeat top center;
	background-size: cover;
}
.movie-tit {
	color: #fff;
	font-size: 36px;
	text-align: center;
	line-height: 2.8rem;
	text-transform: uppercase;
}
#overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  display: none;
}

#popup {
  max-width: 800px;
  width: 80%;
  max-height: 500px;
  height: 80%;
  padding: 20px;
  position: relative;
  background: #fff;
  margin: 100px auto 0;
}
#popup iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#close {
    position: absolute;
    top: 16px;
    right: 10px;
    cursor: pointer;
    color: #000;
    z-index: 99;
	color: #fff;
	border: 1px solid #475ff7;
	background: rgba(0,0,0,.8);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	line-height: 50px;
	text-align: center;
}
/*.client {
	margin: 40px 0 0 0;
	text-align: center;
}
.client-list li {
	display: inline-block;
	margin: 20px 0 0 0;
}*/













.on{
	-moz-transform: rotate(180deg);
	-webkit-transform :rotate(180deg);
	transform: rotate(180deg);
}




/*responsive*/
/*==================max-width(667px)====================*/
@media only screen and (max-width:667px){
	.pc {
		display: none;
	}
	.sp {
		display: block;
	}
}